*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
body{
    background-color:#9290C3;
}

.main{
    height: 5vh;
    width: 100%;
    background-color:#070F2B;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; 
    position: relative;
}

.info input{
 height: 40px;
 width: 400px;
 border-radius: 5px;
 font-size: 1rem;
 font-weight: 300;
 color: black;
 
}

.info{
    width:600px;
    display: flex;
    justify-content: space-between;
}

.info button{
    width: 15%;
    border-radius: 5px;
    margin-right: 80px;
    background-color: #87CEEB;
    color: #FFFFFF;
    border: 2px solid#CCCCCC;
}

.blog-card img{
    height: fit-content;
    width: 400px;
}
.blog-card{
    width: 55vh;
    border-radius: 10px;
    border: 2px solid black;
    padding: 1rem;
    background-color: #1B1A55;
    color: white;
    height: 400px;

}

.blog-card:hover{
    box-shadow:20px 20px 20px rgba(20, 20, 20, 20);
    transition: box-shadow 0.2s ease;
}

.blogs{
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content:space-around;
    flex-wrap:wrap;
    padding-bottom: 4rem;
    row-gap: 4rem;

}

h3{
    color: red;
}

h1{
    font-weight: bolder;
    font-size: 3rem;
   color: white;
}